.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline-flex;
  margin: 2%;
}

.action_btn {
  width: 200px;
  margin: 2;
  display: inline;
  background-color: #e0c9c9;
  border-width: 5px;
  border-color: rgb(8, 8, 8);
}

.clickme {
  background-color: antiquewhite;
}
